
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #6c899b;
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Georgia";
  font-size: 45px;
  margin-bottom: 0px;
}
.lower {
    color: rgb(21, 2, 2);
    font-family: "italic";
    font-size: 70px;
    font-optical-sizing: auto;
    font-weight: 551;
    font-style: normal;
    margin-bottom: 40px;
    text-shadow: 
    0px 3px 3px white,    
    0px 0px 8px black;     
  }

.parent {
  position: relative;
  top: 0;
}
.image1 {
  position: relative;
  top: 0;
}
.image2 {
  position: absolute;
  top: 250px;
  left: 33%;
  width: 350px;
  height: 210px;
}
.start {
  display: inline;
}
.birdLeft {
  margin-top: 120px;
}

.birdRight {
  margin-top: 120px;
}

.button {
  border: none;
  border-radius: 500px;
  color: rgb(255, 255, 255);
  background-color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 10px;
  margin-right: 10px;
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  transform: scale(1.1);
}
