.layout {
    margin: 25px;
}

.title {
    font-size: 50px;
    margin-bottom: 5px;
    color: black;
}

.directions {
    font-size: 25px;
    margin-bottom: 50px;
    color: white;
    text-align: left;
}

.parkingLotImage {
    width: 100px;
    height: 100px;
}

.parking {
    display: flex;
    flex-direction: column; 
    align-items: left;    
    gap: 30px;              
}

.image-text {
    display: flex;
    align-items: center;
    gap: 15px; 
  }

.locationCaption{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
  }

  .locationCaption h4 {
    margin: 0; 
    font-size: 30px; 
    font-weight: 600;
    color: white;
  }
  
  .locationCaption p {
    margin: 0; 
    font-size: 20px;
    font-weight: 450;
    color: black; 
}

