.title {
color: black;
}

.parkingLotImage {
    width: 100px;
    height: 100px;
}

.parking {
    display: flex;
    flex-direction: column; 
    align-items: left;    
    gap: 30px;              
}


.image-text {
    display: flex;
    align-items: center;
    gap: 15px; 
  }

.locationCaption{
    display: flex;
    flex-direction: column; 
  }

  .locationCaption h4 {
    margin: 3; 
    font-size: 20px; 
  }
  
  .locationCaption p {
    margin: 0; 
    font-size: 14px; 
    color: white; 
}

