body {
    margin: 0;
    padding: 0;
    background-color: #6C899B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .App {
    text-align: center;
    background-color: #6C899B;
  }
  
  h1 {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin-bottom: 1px;
    background-color: transparent;
  }

  h2 {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin-bottom: 50px;
    background-color: transparent;
  }
  
  .thumb-button {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .thumb-button img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .thumb-button img:hover {
    transform: scale(1.1);
  }
  
  .thumb-button img:active {
    transform: scale(0.95);
  }
  